<%= render "user_auth"%>

<div class="mx-3">
  <div class="d-flex justify-content-around align-items-center">
    <h1 class="mx-5 my-4">Menu</h1>
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#uploaderModal"> Bulk Upload </button>
  </div>
  <% @category.each do |cat| %>       
    <p  class="h4 mx-5 my-4 "> <%= cat.category %>  </p> 
    <table class="mx-5 my-4 table table-striped table-hover w-75">        
      <tbody>
        <% Menu.where(category: cat.category).find_each do |dish, idx| %>
            <tr>
              <td> 
              <div>
                <div class="h5"><%= dish.dish_name %> </div> 
                <%= dish.dish_desc %> 
                <span class="badge <%= dish.dish_type === 'Non-Veg' ? 'text-bg-danger' : 'text-bg-success' %>"  > <%=  dish.dish_type %></span>
                <span class="badge text-bg-warning"><%=  dish.allergens %></span>
              </div>
              </td>
              <td> ₹ <%= dish.price %>  </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="modal fade" id="uploaderModal" tabindex="-1" aria-labelledby="menu-uploader" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Menu book uploader</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">        

        <p> upload an excel sheet or CSV file with the dishes sold in restaurant</p>
        <%= render "import" %>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
