<div  class="d-flex mx-5 justify-content-between align-items-center">
<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
</div>

<div class="d-flex justify-content-around align-items-center">
<h1 class="mx-5 my-4">Menu</h1>
<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#uploaderModal"> Bulk Upload </button>
</div>
<table class="mx-5 my-4 table table-striped table-hover w-75">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Allergens</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @menu.each.with_index do |dish, idx| %>
        <tr>
          <th scope="row"> <%= idx + 1 %> </th>
          <td> <%= dish.dish_name %> </td>
          <td><%= dish.dish_desc %></td>
          <td><%= dish.dish_type %></td>
          <td><%= dish.allergens %></td>
          <td><%= dish.category %></td>
          <td><%= dish.price %></td>
        </tr>
    <% end %>
  </tbody>
</table>


<div class="modal fade" id="uploaderModal" tabindex="-1" aria-labelledby="menu-uploader" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Menu book uploader</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">        

        <p> upload an excel sheet or CSV file with the dishes sold in restaurant</p>
        <%= render "import" %>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%# <button type="button" class="btn btn-primary">Upload</button> %>
      </div>
    </div>
  </div>
</div>
